aiohappyeyeballs==2.6.1
aiohttp==3.11.16
aiosignal==1.3.2
annotated-types==0.7.0
anyio==4.9.0
arrow==1.3.0
attrs==25.3.0
certifi==2025.1.31
cffi==1.16.0
charset-normalizer==3.3.2
circuitbreaker==1.4.0
click==8.0.4
cryptography==42.0.8
dataclasses-json==0.6.7
et_xmlfile==2.0.0
frozenlist==1.6.0
greenlet==3.2.0
h11==0.14.0
httpcore==1.0.8
httpx==0.28.1
httpx-sse==0.4.0
idna==3.7
jmespath==0.10.0
jsonpatch==1.33
jsonpointer==3.0.0
langchain==0.3.23
langchain-community==0.3.21
langchain-core==0.3.54
langchain-text-splitters==0.3.8
langsmith==0.3.32
marshmallow==3.26.1
multidict==6.4.3
mypy-extensions==1.0.0
numpy==2.2.4
oci==2.150.1
oci-cli==3.54.3
openpyxl==3.1.5
oracledb==3.1.0
orjson==3.10.16
packaging==24.2
pandas==2.2.3
pillow==11.2.1
prompt-toolkit==3.0.43
propcache==0.3.1
pycparser==2.22
pydantic==2.11.3
pydantic-settings==2.9.1
pydantic_core==2.33.1
pyOpenSSL==24.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
requests==2.32.3
requests-toolbelt==1.0.0
setuptools==78.1.0
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.40
tabulate==0.9.0
tenacity==9.1.2
terminaltables==3.1.10
types-python-dateutil==2.9.0.20240316
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.2.2
wcwidth==0.2.13
yarl==1.20.0
zstandard==0.23.0
